nav {
  background: rgb(22, 62, 109);
}

body {
  background: gray;
  margin: 0px;
}

/* Header Styling */
.menu {
  box-sizing: border-box;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  transition: color 0.25s linear;
}
.menu:hover {
  background-color: rgb(71, 104, 196);
}

#img-banner {
  background-image: url('https://i.imgur.com/UNH6rDY.jpg');
  background-size: cover;
  width: 100%;
  height: 25vh;
  background-position-x: 50%;
  background-position-y: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.25em;
}

.tempest-banner {
  position: relative;
}
.trial-text {
  position: absolute;
  font-size: 3em;
  bottom: 7%;
  left: 30%;
}
/* Container Styling */
nav,
footer,
.row-container,
#main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#stam-main,
.row-center-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.row-left-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
#calc-container {
  display: flex;
  flex-direction: column;
}
.column-container {
  display: flex;
  flex-direction: column;
}

.wrap-container {
  flex-wrap: wrap;
}

.siderow-container {
  width: 100%;
}

#primary-container,
#meme-container,
#concentration-container {
  width: 54%;
}

#calc-container {
  width: 70%;
}

#dragalia-banner,
#feh-banner {
  width: 50%;
}
#settings-container,
#generator-container {
  width: 20%;
}
.fill {
  width: 5%;
  height: 100%;
}

#settings-container,
#generator-container,
#dragalia-banner,
#feh-banner {
  align-items: left;
  overflow: auto;
}

#primary-container,
#meme-container {
  align-items: center;
  overflow: auto;
}
#concentration-container {
  align-items: center;
}

.justify-center {
  justify-content: center;
  align-items: center;
}
#sidebar-container {
  align-items: flex-start;
  overflow: auto;
  width: 20%;
}

.link-container {
  justify-content: center;
  align-items: center;
  overflow: auto;
  /* border: 2px solid white; */
  margin-top: 5px;
  padding-top: 5px;
  width: 50%;
}

.link-container:hover {
  background-color: rgb(25, 54, 97);
}

.decoration-container {
  justify-content: flex-end;
  align-items: baseline;
  overflow: auto;
  margin: 15px;
  width: 15%;
}
.decoration-sidebar {
  justify-content: flex-end;
  align-items: baseline;
  overflow: auto;
  margin: 15px;
  width: 60%;
}

/* Mobile Configurations */
@media (max-width: 760px) {
  #settings-container,
  .filler {
    display: none;
  }
  #primary-container,
  #concentration-container,
  #sidebar-container,
  #generator-container,
  #meme-container,
  #calc-container {
    width: 100%;
  }
  #generator-container {
    align-items: center;
  }
  #main,
  #stam-main {
    flex-direction: column-reverse;
  }
}

/* Table Styling */
.table {
  display: table;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  border: 1px solid black;
  padding: 10px;
}

.cell:hover {
  background-color: rgb(156, 156, 156);
}

/* Text Styling */

.border-text,
.title-text,
.victory-text,
.trial-text {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.title-box {
  background-color: rgb(47, 73, 145);
  width: 100%;
  margin-top: 20px;
}

.article-title,
.calc-tab {
  width: 100%;
  margin-bottom: 15px;
  margin-top: 20px;
}

.article-title {
  background-color: rgb(23, 47, 78);
}

.calc-tab {
  background-color: rgb(47, 73, 145);
}
.active-tab {
  background-color: rgb(9, 26, 75);
}

.article-title-text,
.article-text-border {
  color: rgb(176, 229, 252);
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.article-text-border {
  text-shadow: -1px 0 rgb(23, 47, 78), 0 1px rgb(23, 47, 78),
    1px 0 rgb(23, 47, 78), 0 -1px rgb(23, 47, 78);
}
.article-hover:hover {
  background-color: rgb(68, 119, 163);
}
.title-text {
  margin: 5px;
}

.link-text {
  transition: color 0.25s linear;
  margin: 2px;
}

.link-text:hover {
  color: lightskyblue;
}

.no-padding {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.right-margin {
  margin-right: 5px;
}

.left-margin {
  margin-left: 5px;
}

.gen-margin {
  margin-top: 5px;
}

.left-align {
  text-align: left;
}

.center-text {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.no-underline {
  text-decoration: none;
}

.flavor-text {
  word-wrap: break-word;
}

.invis {
  list-style: none;
}

.off-display {
  display: none;
}

.output {
  height: 100px;
}

/* Form Styles */
input {
  width: 30ch;
}
#new-game-button,
#blackjack-button {
  width: 20ch;
}
.num-input {
  width: 5ch;
}
.bigger-num-input {
  width: 10ch;
}
.biggest-num-input {
  width: 15ch;
}

/* Meme Generator Styles */

#meme-gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery-entry {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
  width: 45%;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 5px;
  animation: grandEntrance 0.75s ease-in;
  animation-iteration-count: 1;
}
.top-kek,
.btm-kek {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.top-kek {
  position: absolute;
  top: 5px;
}
.meme {
  width: 100%;
}
.btm-kek {
  position: absolute;
  bottom: 5px;
}

@keyframes grandEntrance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Concentration/Blackjack Styling */

#board,
#blackjack-board {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
}
#board {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#blackjack-board {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-slot {
  perspective: 1000px;
  margin: 3px;
}

.matched {
  opacity: 0.2;
  animation: fadeOut 0.5s ease-out;
  animation-iteration-count: 1;
}

.card-draw {
  opacity: 1;
  animation: fadeIn 0.5s ease-in;
  animation-iteration-count: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.25;
  }
}

#dealer-hand,
#player-hand {
  height: 108px;
  margin: 10px;
}

.card-slot.flip .card,
.card-slot.matched .card {
  transform: rotateY(180deg);
}
.card-slot,
.card-front,
.card-back-black,
.card-back-red {
  width: 77px;
  height: 108px;
}
.card {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
.card-front,
.card-back-black,
.card-back-red {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}
.card-front {
  z-index: 2;
  transform: rotateY(0deg);
  background: url('assets/cardback.png');
  background-size: cover;
}
.card-back-black,
.card-back-red {
  transform: rotateY(-180deg);
}
.card-back-black {
  background: url('assets/cardspade.png');
  background-size: cover;
  color: black;
}
.card-back-red {
  background: url('assets/cardheart.png');
  background-size: cover;
  color: red;
}

.kado-text,
.kado-br-text {
  position: absolute;
  text-align: center;
  font-size: 1.5em;
}

.victory-text {
  position: absolute;
  font-size: 3em;
}

.kado-text {
  top: 0px;
}
.kado-br-text {
  bottom: 0px;
  right: 0px;
}

#dealer-hand,
#player-hand {
  position: relative;
}

/* Animations */
#cross {
  width: 50px;
  height: 50px;
  animation: cross 2s;
  animation-iteration-count: infinite;
}

#drop {
  width: 50px;
  height: 50px;
  animation: gravity 4s 1;
  animation-iteration-count: 1;
}

@keyframes cross {
  0% {
    transform: translate(75px, 100px);
    background-color: lightseagreen;
    border-radius: 50px;
  }
  50% {
    transform: translate(75px, 100px) rotate(135deg);
    border-radius: 0px;
    background-color: lightseagreen;
  }
  100% {
    transform: translate(75px, 100px) rotate(180deg);
    background-color: lightseagreen;
    border-radius: 50px;
  }
}

@keyframes gravity {
  0% {
    transform: translate(0, 0);
    background-color: whitesmoke;
    border-radius: 50px;
  }
  25% {
    transform: translate(0px, 200px);
    border-radius: 50px;
    background-color: lightskyblue;
  }
  50% {
    transform: translate(50px, 225px) rotate(4545deg) scale(0.5, 0.5);
    border-radius: 0px;
    background-color: lightskyblue;
  }
  75% {
    transform: translate(100px, 75px) rotate(9090deg);
    border-radius: 0px;
    background-color: azure;
  }
  100% {
    transform: translate(0px, 0px) rotate(4545deg);
    border-radius: 50px;
  }
}
